{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "//why:": "https://stackoverflow.com/questions/57823429/how-do-you-enforce-line-length-and-other-formatting-rules-in-mdx",
  "proseWrap": "always"
}
