---
import { Image } from "astro:assets";

// TODO Figure out typing; couldn't figure out how to type
// props in a way that Image agreed with
const { class: className, imgProps = {}, ...rest } = Astro.props;
---

<div
  class:list={[
    "flex flex-col md:flex-row items-center justify-center md:gap-8 mb-6",
    className,
  ]}
  {...rest}
>
  <Image width={378} {...imgProps} />
  <div class="flex flex-col wine-stats">
    <slot />
  </div>
</div>
