---
import { Image } from "astro:assets";

// TODO Figure out typing; couldn't figure out how to type
// props in a way that Image agreed with
const { class: className, imgProps = {}, ...rest } = Astro.props;
---

<div
  class:list={[
    "mb-6 flex flex-col items-center justify-center md:flex-row md:gap-8",
    className,
  ]}
  {...rest}
>
  <Image width={378} {...imgProps} />
  <div
    class="wine-stats mx-auto flex w-fit max-w-[75%] flex-col md:max-w-[50%]"
  >
    <slot />
  </div>
</div>
