@import "tailwindcss";

@theme {
  --font-mono: "Geist Mono", monospace;
  --font-sans: "Geist Sans", sans-serif;
  --font-title: "Pacifico", "cursive";
  --font-emoji: "Noto Emoji Variable", sans-serif;
}
