---
import { getCollection, getEntries } from "astro:content";

import Logo, { Sizes } from "../components/Logo.astro";
import DetailsPanel from "../components/detail/Panel";
import Shell from "../layouts/shell.astro";

// Sync styles between intro content and Panel content
// Generic styles e.g. spacing and layout can live here
// Leave specifics to the context e.g. color, minimize overriding / dealing with Tailwind source order funk
export const typographyStyles = [
  "font-sans text-xl",
  "max-w-[35em] [&_*]:my-[.75em] [&>_*:first-child]:mt-0 [&>_*:last-child]:mb-0",
  "[&_h2]:text-3xl [&_h2]:mt-[2em] [&_h2]:mb-[.75em] [&_h2]:font-bold [&_h2]:text-center [&_h2]:underline [&_h2]:italic",
  "mx-auto",
  // hr styles; more use of important, along with duplicating class selector in last variant class, all for overriding general spacing
  // [&&>hr_+_*]:!mt-0 is saying: if an element follows an hr, cancel its margin, let the hr set the spacing above and below it,
  // so said margins are even
  // TODO figure out a less shitty way to do this
  "[&_hr]:!my-12 [&_hr]:border-yellow-100 [&_hr]:border-1 [&_hr]:-mx-12 [&&>hr_+_*]:!mt-0",
  "mx-auto",
];

export async function getStaticPaths() {
  const blogEntries = await getCollection("days");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const [{ Content: WineContent }, { Content: BallContent }] = await Promise.all(
  (await getEntries([entry.data.wineContent, entry.data.ballContent])).map(
    (ent) => ent.render()
  )
);
---

<Shell>
  <div class="bg-rose-950 min-h-full">
    <div class="flex flex-col p-16 gap-12 md:gap-20">
      <a href="/" class="text-yellow-100 self-center hover:text-rose-300 mb-8">
        <Logo size={Sizes.SMALL} />
      </a>
      <main>
        <article class="space-y-8">
          <h1
            class="text-yellow-100 text-center text-4xl sm:text-6xl md:text-8xl font-mono"
          >
            <time datetime="2024-10-22">{entry.data.date}</time>
          </h1>
          <section class="-mx-16 py-8 px-16 bg-yellow-100">
            <div
              class:list={[
                // useful reference / inspiration: https://github.com/tailwindlabs/tailwindcss-typography/blob/815dfc4879ee54bf5e7d3cf5960f2acf6b85e303/src/styles.js
                ...typographyStyles,
                "text-rose-900",
              ]}
            >
              <Content />
            </div>
          </section>
          <DetailsPanel client:load>
            <Fragment slot="ballContent">
              <div class:list={[...typographyStyles, "text-yellow-100"]}>
                <BallContent />
              </div>
            </Fragment>
            <Fragment
              slot="wineContent"
              class:list={[...typographyStyles, "text-yellow-100"]}
            >
              <div class:list={[...typographyStyles, "text-yellow-100"]}>
                <WineContent />
              </div>
            </Fragment>
          </DetailsPanel>
        </article>
      </main>
    </div>
  </div>
</Shell>
