---
import { Image } from "astro:assets";

import Subnav from "../components/subnav.astro";
import Boris from "../images/boris.jpg";
import Shell from "../layouts/shell.astro";
import Typography from "../layouts/typography.astro";
---

<Shell
  description="Details on the what and why of Ball is Wine"
  title="About the project"
>
  <div class="min-h-full bg-yellow-50 p-16">
    <Subnav />
    <main class="mt-12 space-y-12 md:mt-20 md:space-y-20">
      <h1 class="flex flex-col gap-6 text-center text-rose-900">
        <span class="font-sans text-2xl md:text-4xl">What is</span>
        <span class="font-title text-4xl md:text-8xl">Ball is Wine?</span>
      </h1>
      <figure class="mx-auto w-fit">
        <Image
          alt="Boris Diaw, glass of wine raised, enjoying himself immensely"
          src={Boris}
          width="480"
        />
        <figcaption
          class:list={[
            "mt-2",
            "max-w-[480px]", // synced to image size
            "font-sans text-base text-rose-950 italic",
          ]}
        >
          Sourced from the <a
            class="underline hover:text-rose-300"
            href="https://www.instagram.com/p/tf7v55DI3A"
            target="_blank">NBA's premier oenophile himself</a
          > (with apologies to Pop, of course. <a
            class="underline hover:text-rose-300"
            href="https://www.nbcsports.com/nba/news/boris-diaw-throws-wine-in-gregg-popovichs-face-metaphorically"
            target="_blank">No worries, Pop!)</a
          >.
        </figcaption>
      </figure>
      <Typography class="mx-auto text-rose-950">
        <p>
          This is a creative writing project. Once a month, I'll get a bottle of
          wine and watch a slate of basketball games and write about them, the
          ball and the wine. I love watching basketball, I watch a good bit of
          the NBA and WNBA. I know very little about wine, but it seemed as good
          a writing angle as any, plus the motivation of treating myself once a
          month to a bottle from the superlative wine store, <a
            href="https://www.maineandloire.com"
            target="_blank">Maine and Loire</a
          >, here in my home town of Portland, ME. And hopefully, like dear
          Boris, not worrying about gaining too much weight.
        </p>

        <p>
          Credit to
          <a
            href="https://www.maineandloire.com/france-pays-nantais-anjou/p/elejn4ye6ad0ydf8jm1zym88rzmd70"
            target="_blank"
          >
            La Grange aux Belles 'Brise d'Aunis' Rouge 2023
          </a> for inspiring the yellow logo block on the home page. Highly recommend!
        </p>

        <h2>Who am I?</h2>
        <p>
          My name is Zack McCartney. As I said, more a fan of basketball than
          wine-knower. Only credentials are time and interest. Trying to have
          fun with this. Vaguely more info on <a
            href="https://grepco.net/about/"
            target="_blank"
          >
            my personal site</a
          >. Thanks for stopping by!
        </p>
      </Typography>
    </main>
  </div>
</Shell>
