---
import { Image } from "astro:assets";
import Boris from "../images/boris.jpg";
import Logo, { Sizes } from "../components/Logo.astro";
import Shell from "../layouts/shell.astro";
import { typographyStyles } from "./[...slug].astro";
---

<Shell
  title="About the project"
  description="Details on the what and why of Ball is Wine"
>
  <div class="bg-yellow-50 min-h-full">
    <div
      class="md:container mx-auto flex flex-col items-center p-16 gap-12 md:gap-20"
    >
      <a href="/" class="text-rose-900 hover:text-rose-300 mb-4 md:mb-8">
        <Logo size={Sizes.SMALL} />
      </a>
      <h1 class="text-center text-rose-900 flex flex-col gap-6">
        <span class="font-sans text-2xl md:text-4xl">What is</span>
        <span class="font-title text-4xl md:text-8xl">Ball is Wine?</span>
      </h1>
      <div>
        <Image
          src={Boris}
          alt="Boris Diaw, glass of wine raised, enjoying himself immensely"
          width="480"
          class="mx-auto"
        />
        <p
          class:list={[
            "mt-2",
            "max-w-[480px]", // synced to image size
            "font-sans text-rose-950 text-base italic",
          ]}
        >
          Sourced from the <a
            class="underline hover:text-rose-300"
            href="https://www.instagram.com/p/tf7v55DI3A"
            target="_blank">NBA's premier oenophile himself</a
          > (with apologies to Pop, of course. <a
            class="underline hover:text-rose-300"
            href="https://www.nbcsports.com/nba/news/boris-diaw-throws-wine-in-gregg-popovichs-face-metaphorically"
            target="_blank">No worries, Pop!)</a
          >.
        </p>
      </div>
      <div
        class:list={[
          ...typographyStyles,
          "text-rose-950 max-w-[30em] [&]:-mx-10 md:mx-0",
        ]}
      >
        <p>
          This is a creative writing project. Once a month, I'll get a bottle of
          wine and watch a slate of basketball games and write about them, the
          ball and the wine. I love watching basketball, I watch a good bit of
          the NBA and WNBA. I know very little about wine, but it seemed as good
          a writing angle as any, plus the motivation of treating myself once a
          month to a bottle from the superlative wine store, <a
            href="https://www.maineandloire.com"
            target="_blank">Maine and Loire</a
          >, here in my home town of Portland, ME. And hopefully, like dear
          Boris, not worrying about gaining too much weight.
        </p>

        <p>
          Credit to
          <a
            href="https://www.maineandloire.com/france-pays-nantais-anjou/p/elejn4ye6ad0ydf8jm1zym88rzmd70"
            target="_blank"
          >
            La Grange aux Belles 'Brise d'Aunis' Rouge 2023
          </a> for inspiring the yellow logo block on the home page. Highly recommend!
        </p>

        <h2>Who am I?</h2>
        <p>
          My name is Zack McCartney. As I said, more a fan of basketball than
          wine-knower. Only credentials are time and interest. Trying to have
          fun with this. Vaguely more info on <a
            href="https://grepco.net/about/"
            target="_blank"
          >
            my personal site</a
          >. Thanks for stopping by!
        </p>
      </div>
    </div>
  </div>
</Shell>
