---
import { getCollection } from "astro:content";

import Logo from "../components/logo.astro";
import Shell from "../layouts/shell.astro";
import * as Utils from "../utils";

// slugs are iso dates (yyyy-mm-dd), which are lexicographically sortable
const posts = await getCollection("posts");
posts.sort((a, b) => b.id.localeCompare(a.id));
---

<Shell>
  <div class="min-h-full bg-yellow-50">
    <div
      class="mx-auto flex flex-col gap-16 p-16 md:gap-24 lg:container lg:flex-row"
    >
      <header class="self-center md:self-start">
        <div class="space-y-14 bg-amber-400 p-16">
          <h1
            class="font-title relative top-4 -left-12 -rotate-45 text-center text-4xl font-bold tracking-[.25em] uppercase"
          >
            Ball is<br />Wine
          </h1>

          <Logo />
        </div>
        <nav class="mt-12 space-y-6">
          <a
            class="font-title block text-center text-2xl text-rose-900 underline decoration-wavy underline-offset-2 hover:text-rose-600 md:text-start"
            href="/about">What is this?</a
          >
          <a
            class="font-title block text-center text-2xl text-rose-900 underline decoration-wavy underline-offset-2 hover:text-rose-600 md:text-start"
            href="/cellar">The Cellar</a
          >
        </nav>
      </header>

      <main class="flex-1 items-center space-y-12 self-center md:space-y-16">
        {
          posts.map((post) => (
            <a
              class="block text-center font-mono text-4xl text-balance text-rose-900 hover:text-rose-600 hover:underline md:text-6xl"
              href={`/${post.id}`}
            >
              {Utils.formatYYYYMMDD(post.id)}
            </a>
          ))
        }
      </main>
    </div>
  </div>
</Shell>
