---
import { getCollection } from "astro:content";

import Logo from "../components/Logo.astro";
import Shell from "../layouts/shell.astro";

// slugs are iso dates (yyyy-mm-dd), which are lexicographically sortable
const days = (await getCollection("days")).sort((a, b) => {
  if (a.slug < b.slug) {
    return 1;
  }

  if (a.slug > b.slug) {
    return -1;
  }

  return 0;
});
---

<Shell>
  <div class="bg-yellow-50 min-h-full">
    <div class="lg:container mx-auto flex flex-col p-16 gap-16 md:gap-24">
      <header class="self-center md:self-start">
        <div class="bg-amber-400 p-16 space-y-14">
          <h1
            class="font-title tracking-[.25em] relative top-4 -left-12 text-center uppercase text-4xl -rotate-45 font-bold"
          >
            Ball is<br />Wine
          </h1>

          <Logo />
        </div>
        <a
          href="/about"
          class="mt-6 block font-title text-2xl text-center md:text-start underline underline-offset-2 decoration-wavy hover:text-rose-600"
          >What is this?</a
        >
      </header>

      <main class="self-center flex flex-col items-center gap-12 md:gap-16">
        {
          days.map((entry) => (
            <a
              href={`/${entry.slug}`}
              class="font-sans text-rose-900 text-center text-4xl md:text-6xl font-semibold hover:underline hover:text-rose-600"
            >
              {entry.data.date}
            </a>
          ))
        }
      </main>
    </div>
  </div>
</Shell>
