---
import { getCollection } from "astro:content";

import Logo from "../components/logo.astro";
import Shell from "../layouts/shell.astro";

// slugs are iso dates (yyyy-mm-dd), which are lexicographically sortable
const days = await getCollection("days");
days.sort((a, b) => b.slug.localeCompare(a.slug));
---

<Shell>
  <div class="min-h-full bg-yellow-50">
    <div class="mx-auto flex flex-col gap-16 p-16 lg:container md:gap-24">
      <header class="self-center md:self-start">
        <div class="space-y-14 bg-amber-400 p-16">
          <h1
            class="relative -left-12 top-4 -rotate-45 text-center font-title text-4xl font-bold uppercase tracking-[.25em]"
          >
            Ball is<br />Wine
          </h1>

          <Logo />
        </div>
        <a
          class="mt-6 block text-center font-title text-2xl underline decoration-wavy underline-offset-2 hover:text-rose-600 md:text-start"
          href="/about">What is this?</a
        >
      </header>

      <main class="flex flex-col items-center gap-12 self-center md:gap-16">
        {
          days.map((entry) => (
            <a
              class="text-center font-sans text-4xl font-semibold text-rose-900 hover:text-rose-600 hover:underline md:text-6xl"
              href={`/${entry.slug}`}
            >
              {entry.data.date}
            </a>
          ))
        }
      </main>
    </div>
  </div>
</Shell>
