---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, ...props } = Astro.props;
---

<a class:list={["underline hover:text-rose-600", className]} {...props}>
  <slot />
</a>
