---
export enum Sizes {
  SMALL = "small",
  NORMAL = "normal",
}
interface Props {
  class?: string;
  size?: Sizes;
}

const { class: className, size = Sizes.NORMAL, ...rest } = Astro.props;

let ballFontSize = "text-2xl";
let wineFontSize = "text-8xl";
let rightOffset = "right-16";

if (size === Sizes.SMALL) {
  ballFontSize = "text-base";
  wineFontSize = "text-6xl";
  rightOffset = "right-10";
}
---

{/* TODO Re-evaluate items-end, not sure necessary */}
<div class:list={["font-emoji flex flex-col items-end", className]} {...rest}>
  <div
    class={`bw-logo-ball font-bold ${ballFontSize} relative ${rightOffset} -top-2`}
  >
    🏀
  </div>
  <div class={`bw-logo-wine ${wineFontSize}`}>🍷</div>
</div>
