---
import "@fontsource/geist-mono";
import "@fontsource/geist-sans";
import "@fontsource-variable/noto-emoji";
import "@fontsource/pacifico";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <title>{`${title ? `${title} -` : ""} Ball Is Wine`}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
  }
</style>
