---
import CellarShell from "../../../layouts/cellar-shell.astro";

const wineData = [
  {
    hue: "bg-rose-900",
    id: "alosa",
    name: "Alosa",
    producer: "Cellar Comalats",
  },
  {
    hue: "bg-rose-900",
    id: "avanti-popolo",
    name: "Avanti Popolo",
    producer: "Cantina Furlani",
  },
  {
    hue: "bg-rose-900",
    id: "el-marciano",
    name: "El Marciano",
    producer: "Alfredo Maestro",
  },
  {
    hue: "bg-rose-700",
    id: "bel-soula",
    name: "Bel Soula",
    producer: "Domaine Sulauze",
  },
  {
    hue: "bg-yellow-200",
    id: "pur-breton",
    name: "Pur Breton",
    producer: "Domaine Bobinet",
  },
  {
    hue: "bg-rose-300",
    id: "vin-de-frantz",
    name: "Vin de Frantz",
    producer: "Frantz Saumon",
  },
  {
    hue: "bg-rose-900",
    id: "vinhota",
    name: "Vinhota",
    producer: "Quinta da Boavista",
  },
];

// Sort wines by most recent vintage tried
wineData.sort((a, b) => a.name.localeCompare(b.name));

const fillSm = 2 - (wineData.length % 2);
const fillLg = 3 - (wineData.length % 3);
const fillXl = 4 - (wineData.length % 4);

/*
TODO
- fix wine colors
- cork image / pattern
- settle on font colors
- actually understand filter usage
- remove cellar link from header when on a cellar subpage (with breadcrumb nav)
- improve wood pattern on frame?


*/
---

<CellarShell
  description="Explore wines tried throughout the Ball is Wine blog"
  title="Wines in the Cellar"
>
  <main class="mx-auto p-8 md:container md:p-16">
    <div class="mx-auto max-w-2/3">
      <nav class="font-title mx-auto mb-8 flex items-center">
        <a
          class="text-lg text-rose-600 underline decoration-wavy underline-offset-2 hover:text-rose-300"
          href="/cellar"
        >
          The Cellar
        </a>
        <span class="mx-2 text-zinc-300">&gt;</span>
      </nav>

      <h1
        class="font-title mb-12 text-center text-5xl text-zinc-300 md:mb-16 md:text-7xl"
      >
        Wines
      </h1>
    </div>

    <div
      class="mx-auto grid w-fit grid-cols-1 gap-5 border-20 border-amber-700 border-y-amber-800/65 bg-amber-700 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      {
        wineData.map((wine) => (
          <div class="relative bg-amber-950/40 backdrop-brightness-10">
            <div class="absolute top-1/10 left-1/10 z-10 w-4/5 border-2 border-emerald-700 bg-neutral-100 shadow-lg shadow-neutral-900">
              <div class="backdrop-sepia">
                {" "}
                <h3 class="font-old-style text-center text-xl text-rose-950 underline backdrop-sepia hover:text-rose-600 md:text-2xl">
                  <a href={`/cellar/wines/${wine.id}`}>{wine.name}</a>
                </h3>
                <p class="mt-4 text-center text-base text-slate-800 italic md:text-lg">
                  {wine.producer}
                </p>
              </div>
            </div>
            <div
              class:list={[
                "mx-auto h-[250px] w-[250px] rounded-full bg-neutral-50",
                wine.hue,
              ]}
            >
              <div class="relative top-[75px] mx-auto h-[100px] w-[100px] rounded-full border-10 border-slate-500/10 bg-amber-100" />
            </div>
          </div>
        ))
      }
      <div
        class:list={[
          "hidden h-[250px] w-[250px] bg-amber-950/40 backdrop-brightness-10",
          {
            "lg:max-xl:block": fillLg >= 1,
            "sm:max-lg:block": fillSm === 1,
            "xl:block": fillXl >= 1,
          },
        ]}
      >
      </div>
      <div
        class:list={[
          "hidden h-[250px] w-[250px] bg-amber-950/40 backdrop-brightness-10",
          {
            "lg:max-xl:block": fillLg >= 2,
            "xl:block": fillXl >= 2,
          },
        ]}
      >
      </div>
      <div
        class:list={[
          "hidden h-[250px] w-[250px] bg-amber-950/40 backdrop-brightness-10",
          {
            "xl:block": fillXl === 3,
          },
        ]}
      >
      </div>
    </div>
  </main>
</CellarShell>
